.content {
    margin-left: 325px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
}

.meal-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.meal-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    gap: 0;
}

.picker, .picker ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0;
    gap: 16px;
    overflow-x: auto;
    white-space: nowrap;
}

.create-new-btn div {
    height: 200px;
    width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    background-color: var(--gray-100);
}

.create-icon {
    width: 80px;
    height: auto;
}

.picker__item, .create-new-btn {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    width: 176px;
    height: 256px;
    border-radius: 8px;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4);
}

.picker__item img {
    height: 200px;
    width: 176px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}


.picker__item p, .create-new-btn p {
    padding-left: 8px;
}

.content .btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}