/* Content container */
.content {
    margin-left: 280px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.meals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 32px;
    gap: 32px;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 32px 48px;
}

.vertical-line {
    width: 1px;
    background-color: black;
    height: 100%;
    display: inline-block;
}