/* Content container */
.content {
    margin-left: 280px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.search-btn {
    margin-left: 4px;
    height: 65px;
}

.meals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 32px;
    gap: 32px;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 32px 48px;
}

.home-ingredient-list {
    display: flex;
    flex-direction: column;
    padding: 32px 48px;
    gap: 10px;
}

.home-ingredient-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 64px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-ingredient-list-item {
    padding: 8px;
    border-bottom: 1px solid var(--gray-100)
}

.vertical-line {
    width: 1px;
    background-color: black;
    height: 100%;
    display: inline-block;
}