:root {
  --primary-900: #002A1C;
  --primary-500: #00C571;
  --primary-300: #79E5C2;
  --primary-50: #C9F7EC;
  --gray-400: #505656;
  --gray-300: #575C5C;
  --gray-200: #9DA0A0;
  --gray-100: #D2D4D4;
  --gray-50: #EFF0F0;
  --white-100: #FFFFFF;
  --energy: #7C7C7C;
  --protein: #14CB76;
  --carbs: #00C2CF;
  --fat: #F2371C;
}

* {
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 48px;
  letter-spacing: 0.04em;
  padding: 0;
}

h6 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.04em;
  padding: 0;
}

.body-l {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.04em;
  padding: 0;
}

.body-m {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 0;
}

.body-s {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.08em;
  padding: 0;
}

.btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 10px 24px;
  border-radius: 12px;
  background-color: var(--primary-50);
  color: var(--primary-500);
  border: var(--primary-500) 1px solid;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
}