:root {
  --primary-900: #002A1C;
  --primary-500: #00C571;
  --primary-300: #79E5C2;
  --primary-50: #C9F7EC;
  --gray-900: #1A231F;
  --gray-400: #505656;
  --gray-300: #575C5C;
  --gray-200: #9DA0A0;
  --gray-100: #D2D4D4;
  --gray-50: #EFF0F0;
  --black-800: #333333;
  --white-200: #F6FEFC;
  --white-100: #FFFFFF;
  --protein: #14CB76;
  --carbs: #00C2CF;
  --fat: #F2371C;
  --background-color: var(--white-100);
  --text-color: var(--gray-400);
  --light-text: var(--gray-200);
  --brand-color: var(--primary-900);
  --active-nav-item: var(--primary-50);
  --active-nav-text: var(--primary-500);
  --active-nav-icon: var(--primary-500);
  --btn-primary: var(--primary-50);
  --btn-primary-outline: var(--primary-500);
  --btn-primary-text: var(--primary-500);
  --component-bg: var(--gray-50);
  --target-bar: var(--gray-100);
  --pie-bg: var(--white-100);
  --energy: var(--gray-300);
  --box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px rgb(255, 255, 255);
  --sidenav-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4);
}

* {
  margin: 0;
  padding: 0;
}

[data-theme="dark"] {
  --background-color: var(--gray-900);
  --text-color: var(--white-200);
  --brand-color: var(--white-200);
  --active-nav-item: var(--gray-300);
  --active-nav-text: var(--white-100);
  --active-nav-icon: var(--white-100);
  --btn-primary: var(--gray-300);
  --btn-primary-outline: var(--white-200);
  --btn-primary-text: var(--white-200);
  --component-bg: var(--gray-400);
  --target-bar: var(--gray-400);
  --pie-bg: var(--gray-200);
  --energy: var(--white-200);
  --box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.2);
  --sidenav-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 48px;
  letter-spacing: 0.04em;
  padding: 0;
}

h6 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.04em;
  padding: 0;
}

.body-l {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.04em;
  padding: 0;
}

.body-m {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 0;
}

.body-s {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.08em;
  padding: 0;
}

.btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 10px 24px;
  border-radius: 12px;
  background-color: var(--btn-primary);
  color: var(--btn-primary-text);
  border: var(--btn-primary-outline) 1px solid;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
}