.energy-smry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: end;
}

.energy-smry h6 {
    text-align: end;
}

.charts {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.pie-chart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;
}

.pie-chart {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(var(--target-bar) 0% 100%)
}

.pie-chart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--pie-bg);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.pie-chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
}

.pie-chart-container p {
    text-align: center;
}

.pie-chart-text p span {
    display: block;
    color: var(--gray-300);
}