.meal-card,
.meal-card * {
    box-sizing: border-box;
}

.meal-card {
    min-width: calc(214px + 20px);
    min-height: calc(272px + 20px);
    padding: 10px;
    border-radius: 16px;
    background-color: var(--gray-400);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white-100);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.meal-card:hover {
    transform: scale(1.05);
}

.meal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.meal-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 120px;
    min-height: 70px;
    gap: 10px;
    padding: 0 10px;
}

.meal-info p {
    text-wrap: wrap;
}

.meal-group-info {
    color: var(--gray-200);
}


.meal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.meal-footer-info {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 8px;
}

.meal-footer button {
    background: white;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: var(--btn-shadow);
    transition: all 0.3s ease;
}

.meal-footer button:hover {
    background: var(--gray-50);
    transform: scale(0.90);
    transition: all 0.3s ease;
}