.week-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 64px;
    list-style: none;
    border-radius: 16px;
    background-color: var(--component-bg);
    box-shadow: var(--box-shadow);
}

.week-selector__btn button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.week-selector__btn button p,
.week-selector__btn button img {
    text-align: center;
    color: var(--light-text);
    transition: transform 0.3s ease;
}

.week-selector__btn button p:hover,
.week-selector__btn button img:hover {
    transform: scale(1.12);
}

.week-selector .selected button p {
    color: var(--primary-500);
}